* {
    text-transform: none;
}
.contain-form{
    width: 430px;
    height: 570px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.contain-form .shape{
    height: 680px;
    width: 600px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #080710,
        #d4af37
    );
    right: -30px;
    bottom: -130px;
}
.form-contact-container{
    height: 680px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.form-contact-container *{
    color: var(--text-gray-color);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.title-form-contact {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
::placeholder{
    color: #e5e5e5;
}

.wpcf7-submit {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: var(--main-yellow);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.wpcf7-submit:hover {
    background-color: #d4af37;
    color: #080710;
}

input[type="text"]
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input[type="email"]
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.wpcf7-textarea
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}