 /********************* Chamber CSS ***********************/
 .control-chamber {
    font-family: arial;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
}
    .control-chamber input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator_chamber {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}
.control-chamber:hover input ~ .control_indicator_chamber,
.control-chamber input:focus ~ .control_indicator_chamber {
    background: #cccccc;
}

.control-chamber input:checked ~ .control_indicator_chamber {
    background: #3858e9;
}
.control-chamber:hover input:not([disabled]):checked ~ .control_indicator_chamber,
.control-chamber input:checked:focus ~ .control_indicator_chamber {
    background: #0e6647;
}
.control-chamber input:disabled ~ .control_indicator_chamber {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator_chamber:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control-chamber input:checked ~ .control_indicator_chamber:after {
    display: block;
}
.control-radio-chamber .control_indicator_chamber {
    border-radius: 50%;
}

.control-radio-chamber .control_indicator_chamber:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}
.control-radio-chamber input:disabled ~ .control_indicator_chamber:after {
    background: #7b7b7b;
}.control-radio-chamber .control_indicator_chamber::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #3858e9;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
0% {
    transform: scale(0);
    }
30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-radio-chamber input + .control_indicator_chamber::before {
    animation: s-ripple 250ms ease-out;
}
.control-radio-chamber input:checked + .control_indicator_chamber::before {
    animation-name: s-ripple-dup;
}
/****************** END Chamber CSS *********************/

/****************** Bathroom CSS *********************/
.control {
    font-family: arial;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #3858e9;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #3858e9;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
0% {
    transform: scale(0);
    }
30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-radio input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
/****************** END Bathroom CSS *********************/


/****************** Place CSS *********************/
.control-place {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
}
.control-place input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator_place {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}
.control-place:hover input ~ .ccontrol_indicator_place,
.control-place input:focus ~ .control_indicator_place {
    background: #cccccc;
}

.control-place input:checked ~ .control_indicator_place {
    background: #3858e9;
}
.control-place:hover input:not([disabled]):checked ~ .control_indicator_place,
.control-place input:checked:focus ~ .control_indicator_place {
    background: #0e6647;
}
.control-place input:disabled ~ .control_indicator_place {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator_place:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control-place input:checked ~ .control_indicator_place:after {
    display: block;
}
.control-radio-place .control_indicator_place {
    border-radius: 50%;
}

.control-radio-place .control_indicator_place:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}
.control-radio-place input:disabled ~ .control_indicator_place:after {
    background: #7b7b7b;
}.control-radio-place .control_indicator_place::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #3858e9;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
0% {
    transform: scale(0);
    }
30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-radio-place input + .control_indicator_place::before {
    animation: s-ripple 250ms ease-out;
}
.control-radio-place input:checked + .control_indicator_place::before {
    animation-name: s-ripple-dup;
}
/****************** END Place CSS *********************/

/****************** Range Input CSS *********************/
input[type='range'] {
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
    width: 175px;
    height: 50px;
    cursor: pointer;
    background: -webkit-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background: -moz-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background: repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background-size: 122px 25px;
    font-size: 16px;
    }
    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    background: #777;
    }
    input[type='range']::-moz-range-track {
    box-sizing: border-box;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
    }
    input[type='range']::-moz-range-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
    }
    input[type='range']::-ms-track {
    box-sizing: border-box;
    width: 210px;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
    color: #777;
    }
    input[type='range']::-webkit-slider-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    margin-top: -8px;
    background: #EEE;
    }
    input[type='range']::-ms-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
    }
    input[type="range"]::-ms-fill-lower {
    background: transparent;
    }
    input[type='range']:focus {
    outline: none;
    }
    /*input[type='range']:after{
    position: absolute;
    content: '20 40 60 80';
    padding: 25px 4035px;
    word-spacing: 20px;
    left: 0px;
    top: 0px;
    }*/

    .container:after {
    position: absolute;
    color: #777;
    content: '200 40 60 80';
    padding: 40px;
    word-spacing: 20px;
    left: 0px;
    top: 0px;
    z-index: -1;
    }
    .container {
    padding: 0px;
    position: relative;
    }
    /****************** END Range Input CSS *********************/